<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome</title>
    <script src="{{ url_for('static', filename='openPopup.js') }}"></script>
	<script src="{{ url_for('static', filename='submitText.js') }}"></script>	
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto+Condensed:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i">
    <link <link href="{{ url_for('static', filename='style.css')}}" rel="stylesheet" type="text/css">
</head>
<script>
    window.onload = function() {
        var logoHeight = document.getElementById('logoImage').offsetHeight;
        document.body.style.paddingTop = logoHeight + 'px';
    };
</script>
<script src="{{ url_for('static', filename='logout.js') }}"></script>


<body>
    <div class="logo">
        <img id="logoImage" src="static/logo.svg" alt="Logo">Welcome, {{ username }}!</img>
    </div>
    <button class="logout-button" onclick="window.location.href='/logout'">Logout</button>
    <div class="button-container">
        <button onclick="openPopup('Collection', 1)">Collection</button>
        {% for i in range(1, 22) %}
            <button onclick="openPopup('Deck', {{ i }})">Deck {{ i }}</button>
        {% endfor %}
    </div>
</body>
</html>