<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome</title>
    <script>
        function openPopup(fileType, index) {
            let message = fileType === 'Collection' ? `Paste your text for ${fileType} here:` : `Paste your text for ${fileType} ${index} here:`;
            const popup = window.open("", "Popup", "width=600,height=400");
            popup.document.write(`
                <html>
                    <head>
                        <title>Paste Text</title>
                    </head>
                    <body>
                        <h3>${message}</h3>
                        <textarea id="textContent" rows="20" cols="60"></textarea><br>
                        <button onclick="window.opener.submitText('${fileType}', ${index}, document.getElementById('textContent').value); window.close();">Submit</button>
                    </body>
                </html>
            `);
        }

        function submitText(fileType, index, text) {
            fetch('/update_file', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ type: fileType, index: index, text: text })
            })
            .then(response => response.json())
            .then(data => {
                alert(data.message);
            })
            .catch(error => {
                console.error('Error:', error);
            });
        }
    </script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto+Condensed:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i">
    <link <link href="{{ url_for('static', filename='style.css')}}" rel="stylesheet" type="text/css">
</head>
<script>
    window.onload = function() {
        var logoHeight = document.getElementById('logoImage').offsetHeight;
        document.body.style.paddingTop = logoHeight + 'px';
    };
</script>
<script>
    function logout() {
        // Add your logout logic here
        window.location.href = '/logout'; // Example: Redirect to a logout URL
    }
</script>


<body>
    <div class="logo">
        <img id="logoImage" src="static/logo.svg" alt="Logo">Welcome, {{ username }}!</img>
    </div>
    <button class="logout-button" onclick="logout()">Logout</button>
    <div class="button-container">
        <button onclick="openPopup('Collection', 1)">Collection</button>
        {% for i in range(1, 22) %}
            <button onclick="openPopup('Deck', {{ i }})">Deck {{ i }}</button>
        {% endfor %}
    </div>
</body>


</html>
